<div class="userDetail">
  <% if question.anon=="N"%>
  <%= question.user.email %>
  <%else%>

    <%end%>
</div>

<div class="title">
  <%= question.title %>
</div>
<div class="desciption">
  <%= question.desciption %>
</div>
<div class="other">
  <%= link_to('like', question_like_path(question), remote:true,method: :post) %>
</div>

<div class="other">
<%= link_to 'Show', question %>
</div>
