<p id="notice"><%= notice %></p>
<%= link_to "LOGOUT",destroy_user_session_path, method: :delete %>
<h1>Questions</h1>
<div class="createQuestion">
<%= form_for @questions, remote: true do |f| %>
<%= f.label :title %> <br>
<%= f.text_area :title %>  <br>
<%= f.label :desciption %> <br>
<%= f.text_area :desciption %>  <br>
<div class="actions">
<%= f.submit  id: 'create_tweet_submit' %>
<span id="characters">0</span>
</div>
<%end%>
  <div id="question">
    <% current_user.feed.each do |question| %>
      <%= render 'ques',question: question  %>
    <% end %>
  </div>
<br>
