<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Desciption:</strong>
  <%= @question.desciption %>
</p>

<p>
  <strong>User:</strong>
  <% if @question.anon=="N"%>
  <%= @question.user.email %>
  <%else%>
  <p>
  Anonymous
  </p>
    <%end%>
</p>



  <div id="answer">
    <% @question.feed.each do |answer| %>
      <%= render 'ans',answer: answer  %>
    <% end %>
  </div>






<%if can? :update,@question%>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%end%>
<%if can? :destroy,@question%>
<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', questions_path %>
<%= link_to 'New Answer',new_answer_path(:id => @question.id)%>
